.auth-container {
  width: 70%;
  min-height: 35vh;
  margin: 10% auto;
  display: flex;
  justify-content: center;
}

.auth-container form {
  width: 100%;
}

.auth-container button {
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
}

.mode {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  color: var(--primary);
  text-decoration: underline;
}

.mode:hover {
  cursor: pointer;
  color: var(--secondary-light);
}
